blockquote {
	background-color: #555;
	text-align: left;
	width: auto;
	font-size: 1.6em;
	border: 8px solid #777;
	border-radius: 10px;
	margin: 10px 400px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	margin-right: 1em;
	line-height: 0.1em;
	vertical-align: -0.4em;
}

blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	margin-left: 1em;
	line-height: 0.1em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}